.header {
  position: fixed;
  bottom: calc(var(--s3) * 1em);
  left: 0;
}
.nav {
  display: block;
  transform-origin: center center;
  transform: rotate(180deg);
}
.artist {
  margin: 0;
  line-height: 0.8;
  font-size: 4rem;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.artist__surname {
  display: inline-flex;
  align-items: flex-end;
}
.artist__portrait {
  filter: url(#duotone);
  margin: 0;
  width: 100px;
  transform-origin: center center;
  transform: rotate(180deg);
  margin: calc(var(--s3) * 1px);
}
@media (max-width: 500px) {
}
