.container {
  position: relative;
  max-width: 70em;
  margin: 0 0 0 auto;
  width: 70vw;
  min-height: 100%;
  display: flex;
  background-color: red;
  justify-content: center;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
