
.player{
    display: flex;
    position: fixed;
    bottom: calc(var(--s3) * 1em);
    left:50%;
    transform: translateX(-50%);
    z-index: 0;
    & > :not(:last-child){
        margin-right: calc(var(--s-2) * 1em);
    }
}
